services:
  transaction:
    build: .
    depends_on:
      - postgres
      - kafka
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/transaction
      SPRING_DATASOURCE_USERNAME: marshmallow
      SPRING_DATASOURCE_PASSWORD: tasty
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092
    ports:
      - "3000:3000"

  postgres:
    image: postgres:17.7
    environment:
      POSTGRES_DB: transaction
      POSTGRES_USER: marshmallow
      POSTGRES_PASSWORD: tasty
    ports:
      - "5432:5432"

  kafka:
    image: bitnamilegacy/kafka:3.7
    container_name: kafka
    ports:
      - "9092:9092"
      - "9094:9094"
    environment:
      KAFKA_ENABLE_KRAFT: "yes" # KRaft mode (Kafka manages metadata itself)
      KAFKA_CFG_NODE_ID: 1 # node id
      KAFKA_CFG_PROCESS_ROLES: broker,controller # node plays both roles (broker (handles topics/messages), controller (handles cluster metadata))
      KAFKA_CFG_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093 # quorum voters config, controller is available at this URL

      # LISTENERS
      # Kafka opens 3 sockets
      # PLAINTEXT://:9092 - for other containers inside Docker (unencrypted)
      # PLAINTEXT_HOST://:9094 - for the host machine to connect (unencrypted)
      # CONTROLLER://:9093 - internal controller communication (KRaft metadata)
      KAFKA_CFG_LISTENERS: PLAINTEXT://:9092,PLAINTEXT_HOST://:9094,CONTROLLER://:9093
      KAFKA_CFG_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:9094 # command to Kafka to advertise reachable addresses for use
      KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT,CONTROLLER:PLAINTEXT # encoding protocols for the exposed ports
      KAFKA_CFG_CONTROLLER_LISTENER_NAMES: CONTROLLER # which listener is used for KRaft controller traffic
      KAFKA_CFG_INTER_BROKER_LISTENER_NAME: PLAINTEXT # which listener brokers use to talk to each other

      # SINGLE NODE DEV
      KAFKA_CFG_AUTO_CREATE_TOPICS_ENABLE: "true" # auto-create unexisting topics
      KAFKA_CFG_OFFSETS_TOPIC_REPLICATION_FACTOR: 1 # the internal topic where consumer group offsets are stored is normally replicated. For one broker it must be 1
      KAFKA_CFG_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1 # Kafka’s internal transaction state logs (used for idempotent/transactional). For one broker it must be 1
      KAFKA_CFG_TRANSACTION_STATE_LOG_MIN_ISR: 1 # Kafka’s internal transaction state logs (used for idempotent/transactional). For one broker it must be 1

      ALLOW_PLAINTEXT_LISTENER: "yes" # bitnami images often require this explicit flag to allow plaintext listeners